$blue: #58cbe0;
$gray: #5b6277;
.plus,
.minus {
  cursor: pointer;
  color: $blue;
  font-size: 30px;
}
.details-container {
  display: flex;
  margin: 20px;
  .details-image {
    height: 0.5625 * 55vw;
    width: 55vw;
  }
  .details {
    padding: 20px;
    .row {
      display: flex;
      align-items: center;
      h2 {
        margin-top: 0;
        margin-bottom: 0px;
      }
      .stars {
        margin-left: 10px;
      }
    }
    .right {
      text-align: right;
      font-weight: 400;
    }
    .reserve {
      float: right;
      background-color: $blue;
      color: #fff;
      border-radius: 10px;
      padding: 10px 30px;
    }
    .date {
      display: flex;
      align-items: center;
      h3 {
        width: 150px;
      }
    }
    .counter {
      display: flex;
      align-items: center;
      h3 {
        width: 120px;
      }
      .convex {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin: 0 10px;
      }
    }
    .marker {
      display: flex;
      align-items: center;
      margin-top: 10px;
      img {
        width: 25px;
      }
      h4 {
        margin: 0;
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .details-container {
    flex-direction: column;
    .details-image {
      width: 100%;
      height: auto;
    }
    .details {
      padding: 10px;
      .row {
        display: flex;
        align-items: center;
        h2 {
          margin-top: 0;
          margin-bottom: 0px;
        }
        .stars {
          margin-left: 10px;
          display: flex;
        }
      }
    }
  }
}
